<ol>
    <% @posts.each do |post| %>
        <div class="comment">
            <div class="comment-content">
                <%= link_to post.title, post %>
                <p><%= post.title %></p>
            </div>
            <p class="comment-detail">
                <%= post.url %>
            </p>
        </div>
    <% end %>
</ol>

