<div class="posts">
    <ol>
        <% @posts.each do |post| %>
            <li>
                <div><%= link_to post.title, post %></div>
                <small><%= post.url %></small>
            </li>
        <% end %>
    </ol>
</div>
